### Some files to ignore in LOOS

# ignore mac crap
**.DS_Store

# Object files
*.o
*.os

# Built (from flex, bison, and swig)
*.cc
revision.cpp
loos.py
loos/__init__.py
setup.sh
setup.csh
custom.py

# Library files
*.so
*.lib
*.dylib
*.a

# Python compiled files
*.pyc

# Configuration/build
*.log
.sconf_temp
.sconsign.dblite

# Documentation
Docs
docs.built

# Emacs cruft
*~
compile_commands.json
.dir-locals.el
GPATH
GRTAGS
GTAGS

# JSON files used for atom
.*.json
.clang_complete

# cruft from vscode
.vscode
.vscode/*
**.vscode

# cruft from sublime text
*.sublime*

# Vi cruft
*.swp


# VSCode cruft
**.vscode

# stuff from sublime text
**.sublime-project
**.sublime-workspace
**.clang_complete

# JSON files
.*.json

# pycharm cruft
**.idea

# latex cruft
*.aux
*.out
*.toc

# mac cruft
**.DS_Store

# some c++ headers used by atom
.stdafx.c++.pch

###EXES

Tools/rms-overlap
Tools/verap
Tools/renum-pdb
Tools/merge-traj
Tools/transition_contacts
Tools/bounding
Tools/ramachandran
Tools/torsion
Tools/xy_rdf_timeseries
Tools/traj2pdb
Tools/xtcinfo
Tools/contact-time
Tools/recenter-trj
Tools/dumpmol
Tools/helix_kink
Tools/traj2dcd
Tools/rmsd2ref
Tools/averager
Tools/model2matlab
Tools/kurskew
Tools/periodic_box
Tools/dcdinfo
Tools/fcontacts
Tools/dibmops
Tools/native_contacts
Tools/smooth-traj
Tools/drifter
Tools/cross-dist
Tools/trajinfo
Tools/rebond
Tools/svdcolmap
Tools/traj2matlab
Tools/crossing-waters
Tools/porcupine
Tools/aligner
Tools/packing_score
Tools/rdf
Tools/phase-pdb
Tools/reimage-by-molecule
Tools/rotamer
Tools/mops
Tools/big-svd
Tools/density-dist-windowed
Tools/exposure
Tools/membrane_map
Tools/rmsfit
Tools/area_per_lipid
Tools/contacts
Tools/concat-selection
Tools/density-dist
Tools/clipper
Tools/rmsf
Tools/convert2pdb
Tools/serialize-selection
Tools/molshape
Tools/svd
Tools/rgyr
Tools/atomic-rdf
Tools/order_params
Tools/frame2pdb
Tools/center-molecule
Tools/perturb-structure
Tools/rmsds
Tools/multi-rmsds
Tools/residue-contact-map
Tools/paxes
Tools/model-meta-stats
Tools/fixdcd
Tools/interdist
Tools/coverlap
Tools/subsetter
Tools/xy_rdf
Tools/model-select
Tools/dihedrals
Tools/esp_mesh
Tools/rna_suites
Packages/ElasticNetworks/heavy-ca
Packages/ElasticNetworks/psf-masses
Packages/ElasticNetworks/vsa
Packages/ElasticNetworks/enmovie
Packages/ElasticNetworks/anm
Packages/ElasticNetworks/gnm
Packages/ElasticNetworks/eigenflucc
Packages/User/ocf
Packages/User/model_calc
Packages/User/simple_model_transform
Packages/User/simple_model_calc
Packages/User/traj_transform
Packages/User/traj_calc
Packages/DensityTools/blob_stats
Packages/DensityTools/water-sides
Packages/DensityTools/water-extract
Packages/DensityTools/water-autocorrel
Packages/DensityTools/blobid
Packages/DensityTools/peakify
Packages/DensityTools/gridslice
Packages/DensityTools/water-survival
Packages/DensityTools/water-hist
Packages/DensityTools/water-count
Packages/DensityTools/gridinfo
Packages/DensityTools/gridstat
Packages/DensityTools/griddiff
Packages/DensityTools/near_blobs
Packages/DensityTools/pick_blob
Packages/DensityTools/gridmask
Packages/DensityTools/grid2xplor
Packages/DensityTools/gridautoscale
Packages/DensityTools/blob_contact
Packages/DensityTools/grid2ascii
Packages/DensityTools/gridscale
Packages/DensityTools/water-inside
Packages/DensityTools/contained
Packages/DensityTools/gridavg
Packages/DensityTools/gridgauss
Tools/renum-pdb
Tools/ocf
Tools/merge-traj
Tools/transition_contacts
Tools/bounding
Tools/ramachandran
Tools/torsion
Tools/xy_rdf_timeseries
Tools/traj2pdb
Tools/xtcinfo
Tools/contact-time
Tools/recenter-trj
Tools/dumpmol
Tools/helix_kink
Tools/traj2dcd
Tools/rmsd2ref
Tools/averager
Tools/model2matlab
Tools/kurskew
Tools/periodic_box
Tools/dcdinfo
Tools/fcontacts
Tools/dibmops
Tools/native_contacts
Tools/smooth-traj
Tools/drifter
Tools/cross-dist
Tools/trajinfo
Tools/rebond
Tools/svdcolmap
Tools/traj2matlab
Tools/crossing-waters
Tools/porcupine
Tools/aligner
Tools/packing_score
Tools/rdf
Tools/phase-pdb
Tools/reimage-by-molecule
Tools/rotamer
Tools/mops
Tools/big-svd
Tools/density-dist-windowed
Tools/exposure
Tools/membrane_map
Tools/rmsfit
Tools/area_per_lipid
Tools/contacts
Tools/concat-selection
Tools/density-dist
Tools/clipper
Tools/rmsf
Tools/convert2pdb
Tools/serialize-selection
Tools/molshape
Tools/svd
Tools/rgyr
Tools/rad-gyr
Tools/atomic-rdf
Tools/order_params
Tools/frame2pdb
Tools/center-molecule
Tools/perturb-structure
Tools/rmsds
Tools/residue-contact-map
Tools/paxes
Tools/model-meta-stats
Tools/fixdcd
Tools/interdist
Tools/coverlap
Tools/subsetter
Tools/xy_rdf
Tools/model-select
Tools/dihedrals
Packages/ElasticNetworks/heavy-ca
Packages/ElasticNetworks/psf-masses
Packages/ElasticNetworks/vsa
Packages/ElasticNetworks/enmovie
Packages/ElasticNetworks/anm
Packages/ElasticNetworks/gnm
Packages/ElasticNetworks/eigenflucc
Packages/User/model_calc
Packages/User/simple_model_transform
Packages/User/simple_model_calc
Packages/User/traj_transform
Packages/User/traj_calc
Packages/DensityTools/blob_stats
Packages/DensityTools/water-sides
Packages/DensityTools/water-extract
Packages/DensityTools/water-autocorrel
Packages/DensityTools/blobid
Packages/DensityTools/peakify
Packages/DensityTools/gridslice
Packages/DensityTools/water-survival
Packages/DensityTools/water-hist
Packages/DensityTools/water-count
Packages/DensityTools/gridinfo
Packages/DensityTools/gridstat
Packages/DensityTools/griddiff
Packages/DensityTools/near_blobs
Packages/DensityTools/pick_blob
Packages/DensityTools/gridmask
Packages/DensityTools/grid2xplor
Packages/DensityTools/gridautoscale
Packages/DensityTools/blob_contact
Packages/DensityTools/grid2ascii
Packages/DensityTools/gridscale
Packages/DensityTools/water-inside
Packages/DensityTools/contained
Packages/DensityTools/gridavg
Packages/DensityTools/gridgauss
Packages/Convergence/chist
Packages/Convergence/expfit
Packages/Convergence/bcom
Packages/Convergence/avgconv
Packages/Convergence/boot_bcom
Packages/Convergence/sortfids
Packages/Convergence/ufidpick
Packages/Convergence/coscon
Packages/Convergence/block_average
Packages/Convergence/hierarchy
Packages/Convergence/qcoscon
Packages/Convergence/assign_frames
Packages/Convergence/block_avgconv
Packages/Convergence/neff
Packages/Convergence/fidpick
Packages/Convergence/decorr_time
Packages/Convergence/rsv-coscon
Packages/HydrogenBonds/hcorrelation
Packages/HydrogenBonds/hcontacts
Packages/HydrogenBonds/hmatrix
Packages/HydrogenBonds/hbonds
Tools/traj2pdb
Tools/aligner
Tools/residue-contact-map
Tools/model-select
Tools/xtcinfo
Tools/trajinfo
Tools/rmsf
Tools/dibmops
Tools/native_contacts
Tools/reimage-by-molecule
Tools/contact-time
Tools/periodic_box
Tools/area_per_lipid
Tools/density-dist
Tools/crossing-waters
Tools/interdist
Tools/kurskew
Tools/traj2dcd
Tools/clipper
Tools/frame2pdb
Tools/density-dist-windowed
Tools/molshape
Tools/svdcolmap
Tools/membrane_map
Tools/packing_score
Tools/order_params
Tools/cross-dist
Tools/rmsd2ref
Tools/center-molecule
Tools/big-svd
Tools/dumpmol
Tools/coverlap
Tools/fcontacts
Tools/fixdcd
Tools/averager
Tools/exposure
Tools/atomic-rdf
Tools/smooth-traj
Tools/model-meta-stats
Tools/model2matlab
Tools/helix_kink
Tools/perturb-structure
Tools/rotamer
Tools/transition_contacts
Tools/traj2matlab
Tools/rmsfit
Tools/bounding
Tools/ramachandran
Tools/recenter-trj
Tools/svd
Tools/rebond
Tools/verap
Tools/mops
Tools/renum-pdb
Tools/rmsds
Tools/rgyr
Tools/concat-selection
Tools/torsion
Tools/xy_rdf_timeseries
Tools/xy_rdf
Tools/paxes
Tools/serialize-selection
Tools/dcdinfo
Tools/merge-traj
Tools/subsetter
Tools/phase-pdb
Tools/drifter
Tools/rdf
Tools/lipid_lifetime
Tools/contacts
Tools/porcupine
Tools/convert2pdb
Packages/HydrogenBonds/hcontacts
Packages/HydrogenBonds/hbonds
Packages/HydrogenBonds/hcorrelation
Packages/HydrogenBonds/hmatrix
Packages/DensityTools/water-survival
Packages/DensityTools/water-hist
Packages/DensityTools/gridautoscale
Packages/DensityTools/blob_stats
Packages/DensityTools/grid2ascii
Packages/DensityTools/griddiff
Packages/DensityTools/blobid
Packages/DensityTools/grid2xplor
Packages/DensityTools/gridslice
Packages/DensityTools/water-count
Packages/DensityTools/gridavg
Packages/DensityTools/contained
Packages/DensityTools/gridscale
Packages/DensityTools/water-extract
Packages/DensityTools/pick_blob
Packages/DensityTools/peakify
Packages/DensityTools/gridgauss
Packages/DensityTools/near_blobs
Packages/DensityTools/gridinfo
Packages/DensityTools/water-autocorrel
Packages/DensityTools/blob_contact
Packages/DensityTools/gridstat
Packages/DensityTools/water-sides
Packages/DensityTools/gridmask
Packages/DensityTools/water-inside
Packages/User/model_calc
Packages/User/traj_calc
Packages/User/simple_model_calc
Packages/User/simple_model_transform
Packages/User/traj_transform
Packages/ElasticNetworks/enmovie
Packages/ElasticNetworks/heavy-ca
Packages/ElasticNetworks/vsa
Packages/ElasticNetworks/gnm
Packages/ElasticNetworks/psf-masses
Packages/ElasticNetworks/eigenflucc
Packages/ElasticNetworks/anm
Packages/Convergence/hierarchy
Packages/Convergence/boot_bcom
Packages/Convergence/block_average
Packages/Convergence/sortfids
Packages/Convergence/assign_frames
Packages/Convergence/avgconv
Packages/Convergence/neff
Packages/Convergence/block_avgconv
Packages/Convergence/qcoscon
Packages/Convergence/coscon
Packages/Convergence/fidpick
Packages/Convergence/expfit
Packages/Convergence/rsv-coscon
Packages/Convergence/ufidpick
Packages/Convergence/decorr_time
Packages/Convergence/bcom
Packages/Convergence/chist
Tools/traj2pdb
Tools/aligner
Tools/residue-contact-map
Tools/model-select
Tools/xtcinfo
Tools/trajinfo
Tools/rmsf
Tools/dibmops
Tools/native_contacts
Tools/reimage-by-molecule
Tools/contact-time
Tools/periodic_box
Tools/area_per_lipid
Tools/density-dist
Tools/crossing-waters
Tools/interdist
Tools/kurskew
Tools/traj2dcd
Tools/clipper
Tools/frame2pdb
Tools/density-dist-windowed
Tools/molshape
Tools/svdcolmap
Tools/membrane_map
Tools/packing_score
Tools/order_params
Tools/cross-dist
Tools/rmsd2ref
Tools/center-molecule
Tools/big-svd
Tools/dumpmol
Tools/coverlap
Tools/fcontacts
Tools/fixdcd
Tools/averager
Tools/exposure
Tools/atomic-rdf
Tools/smooth-traj
Tools/model-meta-stats
Tools/model2matlab
Tools/helix_kink
Tools/perturb-structure
Tools/rotamer
Tools/transition_contacts
Tools/traj2matlab
Tools/rmsfit
Tools/bounding
Tools/ramachandran
Tools/recenter-trj
Tools/svd
Tools/rebond
Tools/verap
Tools/mops
Tools/renum-pdb
Tools/rmsds
Tools/rgyr
Tools/concat-selection
Tools/torsion
Tools/xy_rdf_timeseries
Tools/xy_rdf
Tools/paxes
Tools/serialize-selection
Tools/dcdinfo
Tools/merge-traj
Tools/subsetter
Tools/phase-pdb
Tools/drifter
Tools/rdf
Tools/contacts
Tools/porcupine
Tools/convert2pdb
Packages/HydrogenBonds/hcontacts
Packages/HydrogenBonds/hbonds
Packages/HydrogenBonds/hcorrelation
Packages/HydrogenBonds/hmatrix
Packages/DensityTools/water-survival
Packages/DensityTools/water-hist
Packages/DensityTools/gridautoscale
Packages/DensityTools/blob_stats
Packages/DensityTools/grid2ascii
Packages/DensityTools/griddiff
Packages/DensityTools/blobid
Packages/DensityTools/grid2xplor
Packages/DensityTools/gridslice
Packages/DensityTools/water-count
Packages/DensityTools/gridavg
Packages/DensityTools/contained
Packages/DensityTools/gridscale
Packages/DensityTools/water-extract
Packages/DensityTools/pick_blob
Packages/DensityTools/peakify
Packages/DensityTools/gridgauss
Packages/DensityTools/near_blobs
Packages/DensityTools/gridinfo
Packages/DensityTools/water-autocorrel
Packages/DensityTools/blob_contact
Packages/DensityTools/gridstat
Packages/DensityTools/water-sides
Packages/DensityTools/gridmask
Packages/DensityTools/water-inside
Packages/User/model_calc
Packages/User/traj_calc
Packages/User/simple_model_calc
Packages/User/simple_model_transform
Packages/User/traj_transform
Packages/ElasticNetworks/enmovie
Packages/ElasticNetworks/heavy-ca
Packages/ElasticNetworks/vsa
Packages/ElasticNetworks/gnm
Packages/ElasticNetworks/psf-masses
Packages/ElasticNetworks/eigenflucc
Packages/ElasticNetworks/anm
Packages/Convergence/hierarchy
Packages/Convergence/boot_bcom
Packages/Convergence/block_average
Packages/Convergence/sortfids
Packages/Convergence/assign_frames
Packages/Convergence/avgconv
Packages/Convergence/neff
Packages/Convergence/block_avgconv
Packages/Convergence/qcoscon
Packages/Convergence/coscon
Packages/Convergence/fidpick
Packages/Convergence/expfit
Packages/Convergence/rsv-coscon
Packages/Convergence/ufidpick
Packages/Convergence/decorr_time
Packages/Convergence/bcom
Packages/Convergence/chist
Tools/traj2pdb
Tools/aligner
Tools/residue-contact-map
Tools/model-select
Tools/xtcinfo
Tools/trajinfo
Tools/rmsf
Tools/dibmops
Tools/native_contacts
Tools/reimage-by-molecule
Tools/contact-time
Tools/periodic_box
Tools/area_per_lipid
Tools/density-dist
Tools/crossing-waters
Tools/interdist
Tools/kurskew
Tools/traj2dcd
Tools/clipper
Tools/frame2pdb
Tools/density-dist-windowed
Tools/molshape
Tools/svdcolmap
Tools/membrane_map
Tools/packing_score
Tools/order_params
Tools/cross-dist
Tools/lipid_survival
Tools/rmsd2ref
Tools/center-molecule
Tools/big-svd
Tools/dumpmol
Tools/coverlap
Tools/fcontacts
Tools/fixdcd
Tools/averager
Tools/exposure
Tools/atomic-rdf
Tools/smooth-traj
Tools/model-meta-stats
Tools/model2matlab
Tools/helix_kink
Tools/perturb-structure
Tools/rotamer
Tools/transition_contacts
Tools/traj2matlab
Tools/rmsfit
Tools/bounding
Tools/ramachandran
Tools/recenter-trj
Tools/svd
Tools/rebond
Tools/verap
Tools/mops
Tools/renum-pdb
Tools/rmsds
Tools/rgyr
Tools/concat-selection
Tools/torsion
Tools/xy_rdf_timeseries
Tools/xy_rdf
Tools/paxes
Tools/serialize-selection
Tools/dcdinfo
Tools/merge-traj
Tools/subsetter
Tools/phase-pdb
Tools/drifter
Tools/rdf
Tools/contacts
Tools/porcupine
Tools/convert2pdb
Packages/HydrogenBonds/hcontacts
Packages/HydrogenBonds/hbonds
Packages/HydrogenBonds/hcorrelation
Packages/HydrogenBonds/hmatrix
Packages/DensityTools/water-survival
Packages/DensityTools/water-hist
Packages/DensityTools/gridautoscale
Packages/DensityTools/blob_stats
Packages/DensityTools/grid2ascii
Packages/DensityTools/griddiff
Packages/DensityTools/blobid
Packages/DensityTools/grid2xplor
Packages/DensityTools/gridslice
Packages/DensityTools/water-count
Packages/DensityTools/gridavg
Packages/DensityTools/contained
Packages/DensityTools/gridscale
Packages/DensityTools/water-extract
Packages/DensityTools/pick_blob
Packages/DensityTools/peakify
Packages/DensityTools/gridgauss
Packages/DensityTools/near_blobs
Packages/DensityTools/gridinfo
Packages/DensityTools/water-autocorrel
Packages/DensityTools/blob_contact
Packages/DensityTools/gridstat
Packages/DensityTools/water-sides
Packages/DensityTools/gridmask
Packages/DensityTools/water-inside
Packages/User/model_calc
Packages/User/traj_calc
Packages/User/simple_model_calc
Packages/User/simple_model_transform
Packages/User/traj_transform
Packages/ElasticNetworks/enmovie
Packages/ElasticNetworks/heavy-ca
Packages/ElasticNetworks/vsa
Packages/ElasticNetworks/gnm
Packages/ElasticNetworks/psf-masses
Packages/ElasticNetworks/eigenflucc
Packages/ElasticNetworks/anm
Packages/Convergence/hierarchy
Packages/Convergence/boot_bcom
Packages/Convergence/block_average
Packages/Convergence/sortfids
Packages/Convergence/assign_frames
Packages/Convergence/avgconv
Packages/Convergence/neff
Packages/Convergence/block_avgconv
Packages/Convergence/qcoscon
Packages/Convergence/coscon
Packages/Convergence/fidpick
Packages/Convergence/expfit
Packages/Convergence/rsv-coscon
Packages/Convergence/ufidpick
Packages/Convergence/decorr_time
Packages/Convergence/bcom
Packages/Convergence/chist
Packages/Clustering/cluster-kgs
