language: cpp

branches:
  only:
    - master

matrix:
  include:
    - os: linux
    - os: osx
      osx_image: xcode10.1


#addons:
#  apt:
#     packages:
#      - scons
#      - libboost-all-dev
#      - libboost-regex-dev
#      - libatlas-base-dev
#      - libnetcdf-dev
#      - swig
#      - python3-dev
#      - python3-numpy
#      - python3-scipy
#      - libeigen3-dev
#
#before_install:
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update          ; fi
##  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install boost; fi
##  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install netcdf; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install swig; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install doxygen; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install graphviz; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install scons; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install eigen; fi

install
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - source "$HOME/miniconda/etc/profile.d/conda.sh"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no

script:
    - ./conda_build loos 1
